<%- include('header'); -%>

<div class="box" id="heading">
  <h1>About Page</h1>
</div>
<div class="box">
  <p>&bull; Create a to-do list</p>
  <p>&bull; Add more items on the go</p>
  <p>&bull; Cancel items of your checklist!</p>
  <p>&bull; Meet your daily goals!</p>
</div>

<%- include('footer'); -%>

<!-- &bull to implement bullet points without li or ul. -->